*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: #F5F5F5;
    font-family: "Raleway", sans-serif;
}

.link{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.link:hover{
    text-decoration: underline;
    font-weight: 500;
}

.contenedor{
    padding: 16px 5vw; 
}

.cabecera{
display: flex;
width: 100%;
justify-content: space-between;
box-sizing: border-box;
}

.cabecera--titulo{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    
}
.cabecera--menu{
    display: flex;
    list-style: none;
    gap: 10px;
}

.descripcion{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.descripcion--contenedor{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60vw;
}

.descripcion--titulo{
    font-size: 52px;
    font-weight: 700;
}

.descripcion--descripcion{
    font-size: 22px;
}

.descripcion--links{
    display: flex;
    gap: 20px;
}

.Skills{
    padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   list-style: none;
}

.skills__line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.skills__box{
    position: relative;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    list-style: none;
    justify-content: space-between;
    background-color: white;
}

.skills__box ul {
    position: absolute;
    bottom: 1rem;
    list-style: none;
    justify-content: space-between;
}

.skills__title{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.hobbies{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.hobbies__box{
    position: relative;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    list-style: none;
    justify-content: space-between;
    background-color: white;
}

.hobbies__box ul {
    position: absolute;
    bottom: 1rem;
    list-style: none;
    justify-content: space-between;
}

.hobbies__line{
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

.hobbies__title{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.academic{
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
    list-style: none;
    overflow: auto;
}

.academic__title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.academic__courses{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.academic__courses__box{
    width: 33%;
    height: 17rem;
    padding: 1rem;
    list-style: none;
    justify-content: space-between;
}

.academic__courses__item__img{
    background-color: white;
    padding: 2rem;
    justify-content: center;
    list-style: none;
}

.academic__courses__item__img img {
   width: 90%;
   margin: auto;
   display: block;
}

.academic__courses__item__title{
    margin-top: 0.5rem;
    justify-content: center;
    list-style: none;
}

.academic__courses__item__subtitle{
    margin-top: 0.5rem;
    justify-content: center;
    list-style: none;
}

.experience {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencesectiontitle{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.experiencie__box{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

}

.experience__img {
    width: 70%;
}

.experience__title{
    font-size: 1.5rem;
}

.experience__text{
    font-weight: normal;
    font-size: 1rem;
}

.experience__info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.experiencia__botao--repo{
    padding: .8rem;
    background-color: white;
    color: black;
    border: 1px;
    cursor: pointer;
}

.experience__botao--demo{
    padding: .8rem;
    background-color: black;
    color: white;
    border: 1px;
    cursor: pointer;
}

.experience__botao--demo:hover, .experiencia__botao--repo:hover {
    color: #FFFF;
    background-color: #F5F5F5;
    border: 1px black;
}

@media (max-width:425px) {
    .academic__courses{
        flex-direction: column;
        column-gap: 2rem;
    }
    .academic__courses__box{
        width: 100%;
    }
}

.contacto{
    padding-top: 12rem;
}

.formcontato{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.formcontato__contacto{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}
.formcontato__form{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
}

.input {
    position: relative;
}

.formcontato__input, 
.formcontato__textarea {
    padding: 1rem;
    width: 100%;
}

.validar-estado {
    position: absolute;
    font-size: 2rem;
    right: 0;
}

.incorrecto {
    opacity: 1;
}

.correcto {
    opacity: 1;
    color: green;

}

.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.formcontato__title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.formcontato__subtext{
    font-size: 1rem;
    font-weight: normal;
}

.formcontato__input:hover{
    border-bottom: 2px;
    border-bottom-color: #000;
}

.formcontato_botao{
    width: 25%;
    padding: .8rem;
    border: none;
    border: 1px solid;   
    cursor: pointer;
}

.formcontato_botao:hover{
    color: white;
    border: 1px solid var;
}

.formcontato--esquerda{
    width: 45%;
    margin: auto;
    position: relative;
}

.formcontato__img{
    width: 80%;
    margin: auto;
    display: block;
}

@media (max-width:768px) {
    .formcontato__text {
        width: 100%;
                    margin: auto;
                    display: block;
    }
}

@media (max-width:425px) {
    .formcontato_botao{
        width: 145%;
        padding-top: 0%;
    }
}



.footer {
    padding: 2rem;
    text-align: center;
}